/* Styles spécifiques au composant check-gen */
.info-card {
    background: #E6F0FA;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.table-card {
    background: #E6F0FA;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}
