/* Styles spécifiques au composant attached */
.info-card {
    background: #E6F0FA;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.table-card {
    background: #E6F0FA;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.dropdown-container {
    margin-bottom: 20px;
    padding: 10px;
    background: #F5F7FA;
    border-radius: 5px;
}

.sub-card {
    background: #6BA5E2;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}
