

<div >
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <img src="assets/img/vermeg.png" alt="logo" style="width: 200px; height: 200px">

            <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                    <div class="text-center mb-5">
                        <span class="text-600 font-medium">Inscription</span>
                    </div>
                    <form (submit)="creerCompte()" [formGroup]="form" id="createForm" enctype="multipart/form-data">
                        <div>
                            <label for="inputName" class="block text-900 text-xl font-medium mb-2">Nom</label>
                            <input type="text" id="inputName" placeholder="Enter Full Name" formControlName="nom" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" required>

                            <label for="inputEmail" class="block text-900 text-xl font-medium mb-2">Email</label>
                            <input type="email" id="inputEmail" placeholder="Enter Email Address" formControlName="email" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" required>

                            <label for="inputPassword" class="block text-900 font-medium text-xl mb-2">Mot de passe</label>
                            <p-password id="inputPassword" placeholder="Enter Password" [feedback]="false" formControlName="password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" required></p-password>

                            <label for="inputConfirmPassword" class="block text-900 font-medium text-xl mb-2">Confirmer Mot de passe</label>
                            <p-password id="inputConfirmPassword" placeholder="Confirm Password" [feedback]="false" formControlName="confirmPassword" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" required></p-password>
                            <br>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color) " href="/">already exist ?</a>

                            <div class="d-grid">
                              <button pButton pRipple label="S'inscrire" class="w-full p-3 text-xl" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
